In [2]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [31]:
import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2
pd.options.display.max_rows = 10
hostname= 'localhost'
database= 'Semana6_DE'
username= 'postgres'
pwd='david9.25.38'
port_id= '5432'
import psycopg2

# SQLalchemy

In [32]:
engine= create_engine("postgresql://postgres:david9.25.38@localhost:5432/Semana6_DE")
#engine= create_engine(string)
# Caso redshift
#engine= conn = create_engine('postgresql://username:password@yoururl.com:5439/yourdatabase')
ruta_archivos='C:/Users/Windows/Downloads/Caso_practico_SQL_repsuestas/Caso_practico_SQL_respuestas/data/csvs/'
df = pd.read_csv(ruta_archivos+'product.csv').to_sql('product', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productreview.csv').to_sql('productreview', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productmodelproductdescriptionculture.csv').to_sql('productmodelproductdescriptionculture', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productdescription.csv').to_sql('productdescription', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderdetail.csv').to_sql('salesorderdetail', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productcategory.csv').to_sql('productcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productsubcategory.csv').to_sql('productsubcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesperson.csv').to_sql('salesperson', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderheader.csv').to_sql('salesorderheader', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesterritory.csv').to_sql('salesterritory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'countryregioncurrency.csv').to_sql('countryregioncurrency', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'currencyrate.csv').to_sql('currencyrate', engine, if_exists='replace', index=False)
# funcion para ejecutar comandos en python
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

**Pregunta 1**

Usando las tablas ```product``` y ```productreview```, JOIN y clasifica los productos de acuerdo con su calificación promedio de revisión. ¿Cuáles son los nombres y las identificaciones de los 5 productos principales

In [34]:
query1="""SELECT product.productid, name, round(avg(rating), 2) as avgrating, count(*) as num_ratings
FROM product inner join productreview
ON productreview.productid = product.productid
GROUP BY product.productid, name
ORDER BY avgrating DESC"""
runQuery(query1)

   productid                    name avgrating  num_ratings
0        798   Road-550-W Yellow, 40      5.00            1
1        709  Mountain Bike Socks, M      5.00            1
2        937       HL Mountain Pedal      3.00            2

**Pregunta 2**

Para su decepción, ¡solo hay tres productos con calificaciones y solo cuatro reseñas en total! Esto no es lo suficientemente cerca como para realizar un análisis de la correlación entre las revisiones y las ventas totales.

Sin embargo, su gerente quiere la descripción en inglés de estos productos para una próxima venta. ¡Utilice la documentación proporcionada anteriormente si necesita ayuda para navegar por la estructura para extraer esto!

In [35]:
query2="""
SELECT "name",
       description
FROM productdescription pd
INNER JOIN productmodelproductdescriptionculture pm ON pm.productdescriptionid=pd.productdescriptionid
INNER JOIN product ON product.productmodelid = pm.productmodelid
WHERE productid IN (798,709,937)
  AND cultureid = 'en'
"""
runQuery(query2)

                     name                                        description
0   Road-550-W Yellow, 40  Same technology as all of our Road series bike...
1       HL Mountain Pedal      Stainless steel; designed to shed mud easily.
2  Mountain Bike Socks, M  Combination of natural and synthetic fibers st...