In [2]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2
pd.options.display.max_rows = 10
hostname= 'localhost'
database= 'Semana6_DE'
username= 'postgres'
pwd='david9.25.38'
port_id= '5432'
import psycopg2

# SQLalchemy

In [2]:
engine= create_engine("postgresql://postgres:david9.25.38@localhost:5432/Semana6_DE")
#engine= create_engine(string)
# Caso redshift
#engine= conn = create_engine('postgresql://username:password@yoururl.com:5439/yourdatabase')
ruta_archivos='C:/Users/Windows/Downloads/Caso_practico_SQL_repsuestas/Caso_practico_SQL_respuestas/data/csvs/'
df = pd.read_csv(ruta_archivos+'product.csv').to_sql('product', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productreview.csv').to_sql('productreview', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productmodelproductdescriptionculture.csv').to_sql('productmodelproductdescriptionculture', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productdescription.csv').to_sql('productdescription', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderdetail.csv').to_sql('salesorderdetail', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productcategory.csv').to_sql('productcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productsubcategory.csv').to_sql('productsubcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesperson.csv').to_sql('salesperson', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderheader.csv').to_sql('salesorderheader', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesterritory.csv').to_sql('salesterritory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'countryregioncurrency.csv').to_sql('countryregioncurrency', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'currencyrate.csv').to_sql('currencyrate', engine, if_exists='replace', index=False)
# funcion para ejecutar comandos en python
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

**Pregunta 1**

Encuentre los cinco vendedores con mejor desempeño usando la columna `salesytd` (Sales, year-to-date). (Solo necesitamos conocer el `businessentityid` de cada vendedor, ya que esto identifica de forma única a cada uno). ¿Por qué podría ser escéptico con estos números en este momento?

In [3]:
query5="""SELECT BusinessEntityID, SalesYTD FROM SalesPerson ORDER BY SalesYTD DESC LIMIT 5;"""
runQuery(query5)

   businessentityid      salesytd
0               276  4.251369e+06
1               289  4.116871e+06
2               275  3.763178e+06
3               277  3.189418e+06
4               290  3.121616e+06

Los números están codificados en esta tabla, en lugar de calcularse dinámicamente a partir de cada registro de ventas. Actualmente, no sabemos cómo se actualiza este número o mucho al respecto, por lo que es bueno permanecer escéptico.

**Pregunta 2**

Usando ```salesorderheader```, busque los 5 mejores vendedores que hicieron la mayor cantidad de ventas **en el año más reciente** (2014). (Hay una columna llamada `subtotal`; úsela). Las ventas que no tienen un vendedor asociado deben excluirse de sus cálculos y producción final. Se deben incluir todos los pedidos que se realizaron dentro del año calendario 2014.

**Pista:** Puedes usar la sintaxis `'1970-01-01'` para generar un punto de comparacion en el tiempo

In [4]:
query6="""
SELECT salespersonid, round(SUM(subtotal)) AS totalsales
FROM salesorderheader soh
WHERE soh.orderdate >= '2014-01-01'
AND soh.SalesPersonID is not NULL
GROUP BY SalesPersonID
ORDER BY TotalSales DESC
LIMIT 5;
"""
runQuery(query6)

   salespersonid  totalsales
0          289.0   1382997.0
1          276.0   1271089.0
2          275.0   1057247.0
3          282.0   1044811.0
4          277.0   1040093.0